.nav {
    box-shadow: 0 1px 20px 0 rgba(14, 14, 37, 0.1);
    height: 60px;

    &__section {
        position: relative;
    }

    &__right {
        float: right;
    }

    &__left {
        float: left;
    }
}
