:root {
    --color-black: #0e0e25; // 14, 14, 37
    --color-gray: #bcbdc2; // 188, 189, 194
    --color-green: #6fdacc; // 111, 218, 204
    --color-pink: #f92e97; // 249, 46, 151
    --color-white: #f7f8f9; // 247, 248, 249
    --color-yellow: #f6d83a; // 246, 216, 58
}
