html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

html:not([data-scroll='0']) {
    body {
        padding-top: 60px;
    }

    nav {
        box-shadow: 0 1px 20px 0 rgba(14, 14, 37, 0.1);
        position: fixed;
        top: 0;
        z-index: 1;
    }
}

* {
    box-sizing: border-box;
}

a {
    color: var(--color-green);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    max-width: 100%;
}

ol,
ul {
    list-style-type: none;
}

:root {
    --color-black: #0e0e25; // 14, 14, 37
    --color-gray: #bcbdc2; // 188, 189, 194
    --color-green: #6fdacc; // 111, 218, 204
    --color-pink: #f92e97; // 249, 46, 151
    --color-white: #f7f8f9; // 247, 248, 249
    --color-yellow: #f6d83a; // 246, 216, 58
}
