html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--color-pink);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

ol,
ul {
    list-style-type: none;
}

:root {
    --color-black: #0e0e25;
    --color-white: #f7f8f9;
    --color-gray: #bcbdc2;
    --color-pink: #f92e97;
    --color-green: #6fdacc;
    --color-yellow: #f6d83a;
}
